<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <header>
        <div class="title">
         <h1 >CoronaVirus Tracker Application</h1>
        <img alt="coronavirus picture" src="/photos/img.jpg" width = 100% height = 30%>
        </div>
    </header>
    <div class="container">

        <p style="color:palegreen;">This application lists current number of cases of reported
            across the globe</p>

        <div class="jumbotron">
            <h1 class="display-4" th:text="${totalReportedCases}"></h1>
            <p style="color: darkolivegreen;" class="lead">Total Cases Reported as of Today</p>
            <hr class="my-4">
            <p>
                <span style="color: indigo;">New Cases Reported Previous Day</span>
                <span th:text="${totalNewCases}"></span>
            </p>

        </div>

        <table class="table">
            <tr>
                <th>country</th>
                <th>state</th>
                <th>Total Cases Reported</th>
                <th>changes since last day</th>

            </tr>
            <tr th:each="locationstat : ${locationStats}">
                <td th:text="${locationstat.country}"></td>
                <td th:text="${locationstat.state}"></td>
                <td th:text="${locationstat.LatestTotalCases}">0</td>
                <td th:text="${locationstat.diffFromPrevDay}">0</td>
            </tr>
        </table>
    </div>
</body>

</html>